# Elastic Beanstalk Files
#.elasticbeanstalk/*
#!.elasticbeanstalk/*.cfg.yml
#!.elasticbeanstalk/*.global.yml

# logs
logs
logs/*

# assets
public/ocr-uploads/*
public/ocr-output/*

# let's encrypt key, if used.
key.pem
