container_commands:
  01_reload_nginx:
    command: "service nginx reload"
files:
    "/etc/nginx/conf.d/proxy.conf":
      mode: "000755"
      owner: root
      group: root
      content: |
        client_max_body_size 10M;

    "/etc/nginx/conf.d/000_my_config.conf":
      mode: "000755"
      owner: root
      content: |
        server {
            listen 8080;
            return 301 https://$host$request_uri;
        }
